beautifulsoup4
bleach
boto3
celery
cryptography>=3.2
dj-database-url
django
django-allauth
django-anymail[mailgun]
django-celery-email
django-countries
django-environ
django-extensions
django-markdownx
django-model-utils
django-redis
django-silk
django-storages
django-taggit
django-timezone-field
django-widget-tweaks
factory-boy
future
geopy
gunicorn
icalendar
ipython
micawber
pillow
psycopg2-binary
pygments
pymdown-extensions
pyopenssl
pytest
pytest-cov
pytest-django
pytest-mock
pytest-randomly
pytest-xdist
pytz
pywebpush
redis
rules
sorl-thumbnail
unidecode
werkzeug
