[submodule "examples/kando"]
	path = examples/kando
	url = https://github.com/danjac/kando/
[submodule "examples/conduit"]
	path = examples/conduit
	url = https://github.com/danjac/conduit
[submodule "radiofeed"]
	path = radiofeed
	url = https://github.com/danjac/radiofeed
