[submodule "examples/kando"]
	path = examples/kando
	url = https://github.com/danjac/kando/
[submodule "examples/conduit"]
	path = examples/conduit
	url = https://github.com/danjac/conduit
[submodule "examples/radiofeed"]
	path = examples/radiofeed
	url = https://github.com/danjac/radiofeed
[submodule "examples/chatter"]
	path = examples/chatter
	url = https://github.com/danjac/chatter/
[submodule "movieapp"]
	path = movieapp
	url = https://github.com/danjac/movieapp
